<div
  mwl-droppable
  on-drop="vm.handleEventDrop(dropData.event, day.date, dropData.draggedFromDate)"
  mwl-drag-select="!!vm.onDateRangeSelect"
  on-drag-select-start="vm.onDragSelectStart(day)"
  on-drag-select-move="vm.onDragSelectMove(day)"
  on-drag-select-end="vm.onDragSelectEnd(day)"
  class="cal-month-day {{ day.cssClass }}"
  ng-class="{
    'cal-day-outmonth': !day.inMonth,
    'cal-day-inmonth': day.inMonth,
    'cal-day-weekend': day.isWeekend,
    'cal-day-past': day.isPast,
    'cal-day-today': day.isToday && day.inMonth,
    'cal-day-future': day.isFuture,
    'cal-day-selected': vm.dateRangeSelect && vm.dateRangeSelect.startDate <= day.date && day.date <= vm.dateRangeSelect.endDate,
    'cal-day-open': monthIndex === vm.openDayIndex[0] && dayIndex === vm.openDayIndex[1]
  }">

  <div
    ng-repeat="event in day.events | orderBy:'priority' track by (event.id + '-' + $index)"
    class="cal-day-event"
    ng-init="color = (event.color ? event.color.secondary : day.backgroundColor)"
    ng-style="{
      background: vm.isMorningOnly(day, event) ? 'linear-gradient(to right bottom, ' + color + ' 50%, rgba(255, 255, 255, 0) 50%)' : (vm.isAfternoonOnly(day, event) ? 'linear-gradient(to right bottom, rgba(255, 255, 255, 0) 50%, ' + color + ' 50%)' : color)
    }">
      <span 
        ng-if="event.pending"
        class="cal-day-pending-event">
        <i class="fa fa-hourglass-half"></i>
      </span>
  </div>

  <span
    class="pull-right"
    data-cal-date
    ng-bind="day.label">
  </span>
</div>
